---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"


// Import partials from `sass_dir` (defaults to `_sass`)
@import "all-styles"


body
  background-color: black

.nav-wrapper
  position: absolute
  right: 0
  top: 20px

  h1
    color: white
    float: right
    margin: 12px 40px 0 0
    font:
      family: 'sedgwick_coregular', Arial, sans-serif
      size: 1.3em

.container
  position: relative

  .scene
    position: absolute

    .guitar
      top: 0px

    .banner
      top: 140px


    .jon
      top: 220px

    .l-rose
      top: 250px
      l

    .r-rose
      top: 250px


    .baptists
      top: 355px
