---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"


// Import partials from `sass_dir` (defaults to `_sass`)
@import "all-styles"

body
  background-color: black

.hero
  position: relative
  text-align: center
  padding-top: 30px
  z-index: -1

  svg
    width: 300px

.nav-wrapper
  position: absolute
  right: 0
  top: 20px

  h1
    color: white
    float: right
    margin: 12px 40px 0 0
