---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

// Import partials from `sass_dir` (defaults to `_sass`)

@import "all-styles"

body
  background: black

h1
  color: white
  float: right
  margin: 12px 40px 0 0
  font:
    family: 'sedgwick_coregular', Arial, sans-serif
    size: 1.3em

.nav-wrapper
  position: absolute
  right: 0
  top: 20px

.hero-wrapper
  position: relative

  .container
    max-width: 600px
    margin: -20px auto 0
    padding: 5%
    height: 600px

    .scene
      padding: 0
      margin: 0

      .guitar
        top: 0px
        right: 50%
        left: 60px

      .banner
        top: 140px
        right: 50%
        left: 105px

      .jon
        right: 50%
        left: 150px

      .left-rose
        top: 250px
        left: 70px

      .right-rose
        top: 250px
        right: 40px

      .baptists
        top: 355px
        right: 50%
        left: 70px

      .roses
        top: 500px
        right: 50%
        left: 150px

      .banner-left
        top: 0
        left: 20px

      .banner-right
        top: 0
        right: 0

.site-footer
  height: 50px
  background: pink
  position: absolute
  bottom: 0
  width: 100%
