#contact-container
  margin: 0 auto
  width: 300px
  font-family: $base-font
  text-align: center

  h1
    font-family: $base-font
    font-size: 3em
    color: #FFF
    line-height: 1

  p
    font-family: $second-font
    color: #FFF
    line-height: 1

#name, #email, #textarea, #send
  width: 100%
  margin-top: 5px
  background-color: #000
  border: 1px solid #FFF
  padding: 5px 10px 10px
  line-height: 1
  color: #FFF

#send
  background: red
  border: none
  padding: 20px 20px 22px
  line-height: 0.5
  width: 30%
  color: #000
  float: left
