#gigs-wrapper
	margin: 120px auto 0
	width: 50%
	font-family: $base-font
	text-align: center
	background: rgba(0,0,0,0)

	h1
		font-family: $base-font
		font-size: 3em
		color: #FFF
		line-height: 1
		padding-bottom: 50px

	h3
		font-family: $base-font
		font-size: 1.8em
		color: #bdbdbd
		line-height: 1
		padding-bottom: 12px
		margin: 0 auto

	p
		font-family: $second-font
		color: #bdbdbd
		line-height: 1
		padding-bottom: 30px
		margin: 0 auto
		font-size: 1.1em

	a
		color: #bdbdbd
		text-decoration: underline

	img
		width: 200px
		padding-top: 100px