#gigs-wrapper {
  width: 400px;
  min-height: 400px;
  overflow: auto;
  margin: 100px auto 0;
  font-family: $base-font;
  text-align: center;

  h1 {
    font-family: $base-font;
    font-size: 3em;
    color: #fff;
    line-height: 1;
    padding: 10px;
    margin-bottom: 30px;
  }

  .player-border-top {
    width: 100%;
    padding: 0;
  }

  #gigs-border {
    width: 100%;
    max-width: 300px;
    min-height: 400px;
    overflow: auto;
    margin: 0 auto;
    text-align: center;

    h3 {
      font-family: $base-font;
      font-size: 1.8em;
      color: #bdbdbd;
      line-height: 1;
      padding-top: 0;
      margin: 0 auto;
    }

    p {
      font-family: $second-font;
      color: #bdbdbd;
      line-height: 1;
      padding-top: 10px;
      margin: 0 auto 40px;
      font-size: 1.1em;
    }

    a {
      color: #bdbdbd;
      text-decoration: underline;
    }

    .border-box {
      width: 90%;
      border-left: 1px solid grey;
      border-right: 1px solid grey;
      margin: 20px auto;
    }
  }

  img {
    width: 200px;
    padding: 100px 0;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 800px) {
  #gigs-wrapper {
    margin: 0 auto 0;
    width: 100%;
    font-family: $base-font;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  #gigs-wrapper {
    margin: 0 auto 0;
    width: 100%;
    font-family: $base-font;
    text-align: center;

    h1 {
      font-size: 2.5em;
      padding: 0 10px 40px;
    }
  }
}
