#gigs-wrapper
	margin: 100px auto 0
	width: 50%
	font-family: $base-font
	text-align: center

	h1
		font-family: $base-font
		font-size: 3em
		color: #FFF
		line-height: 1
		padding: 10px

	#gigs-border
		background: url('{{ site.baseurl }}/../../img/music-player-bg.gif') no-repeat
		width: 300px
		min-height: 400px
		overflow: auto
		margin: 0px auto
		text-align: center

		h3
			font-family: $base-font
			font-size: 1.8em
			color: #bdbdbd
			line-height: 1
			padding-top: 170px
			margin: 0 auto

		p
			font-family: $second-font
			color: #bdbdbd
			line-height: 1
			padding-top: 10px
			margin: 0 auto
			font-size: 1.1em

		a
			color: #bdbdbd
			text-decoration: underline

	img
		width: 200px
		padding: 100px 0

// MEDIA QUERIES

+media($tablet)

	#gigs-wrapper
		margin: 0px auto 0
		width: 100%
		font-family: $base-font
		text-align: center

+media($mobile)

	#gigs-wrapper
		margin: 0px auto 0
		width: 100%
		font-family: $base-font
		text-align: center

		h1
			font-size: 2.5em
			padding: 0 10px 40px
