// MAIN PAGE STYLES

.hero-wrapper
  position: relative
  z-index: 100

.container
  max-width: 450px
  margin: -20px auto 0
  padding-top: 5%
  height: 650px

.scene
  padding: 0
  margin: 0

.guitar

  img
    width: 100%

.banner

  img
    width: 100%
    margin-top: -50px

.handsome

  img
    width: 100%

.devils

  img
    width: 100%
    margin-top: 140px

.roses

  img
    width: 100%
    margin-top: 210px

// MEDIA QUERIES

+media($mobile)
  .devils

    img
      margin-top: 130px

  .roses

    img
      margin-top: 165px

+media($mobile-small)
  .devils

    img
      margin-top: 110px
