

#pictures-wrapper
  +outer-container
  max-width: 600px
  margin-top: 20px
  text-align: center

  a
    +span-columns(4)
    margin: 0
    padding: 0px
    +media($mobile)
      +span-columns(12)

  img
    width: 200px
    width: 85%

  h1
    font:
      family: $base-font
      size: 3em
    color: white
    text-align: center
    line-height: 1
