<footer class="site-footer"></footer>


<!-- SCRIPTS -->
<script src="js/svgicons-config.js"></script>
<script src="js/svgicons.js"></script>
<script src="js/parallax.js"></script>
<script>
  (function() {
    // Snap.svg initalizing script

    [].slice.call(document.querySelectorAll('.si-icons-default > .si-icon')).forEach(function(el) {
      var svgicon = new svgIcon(el, svgIconConfig);
    });

    new svgIcon(document.querySelector('.si-icons-easing .si-icon-hamburger'), svgIconConfig, {
      easing: mina.backin
    });
    new svgIcon(document.querySelector('.si-icons-easing .si-icon-plus'), svgIconConfig, {
      easing: mina.backin
    });

  })();
</script>
<script>
  // Hero paralax script
  var scene = document.getElementById('scene');
  var parallax = new Parallax(scene);

</script>
