<!-- START OF NAVIGATION -->
<div class="nav-wrapper">
  <div class="si-icons si-icons-default">
    <span class="si-icon si-icon-hamburger-cross" data-icon-name="hamburgerCross"></span>
    <h1 id="nav-title">MENU</h1>
    <ul id="nav-list">
      <li class="active" id="home">Home</li>
      <li class="active" id="about">About</li>
      <li class="active" id="music">Music</li>
      <li class="active" id="pics">Pictures</li>
      <li class="active" id="contact">Contact</li>
    </ul>
  </div>
</div>
<!-- END OF NAVIGATION -->
