
<!-- Main page parallax scene -->
<div id="main-wrapper">
  <div class="hero-wrapper section">
    <div class="container">
      <ul id="scene" class="scene">
        <li class="layer guitar" data-depth="0.10">
          <img src="{{ site.url }}/img/svg/guitar.svg">
        </li>
        <li class="layer banner" data-depth="0.20">
          <img src="{{ site.url }}/img/svg/banner.svg">
        </li>
        <li class="layer handsome" data-depth="0.70">
          <img src="{{ site.url }}/img/svg/handsome.svg">
        </li>
        <li class="layer devils" data-depth="0.20">
          <img src="{{ site.url }}/img/svg/devils.svg">
        </li>
        <li class="layer roses" data-depth=".10">
          <img src="{{ site.url }}/img/svg/roses.svg">
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END Main page parallax scene -->