<!-- START OF NAVIGATION -->
<div class="nav-wrapper">
  <div class="si-icons si-icons-default">
    <span class="si-icon si-icon-hamburger-cross" data-icon-name="hamburgerCross"></span>
    <h1 id="nav-title">MENU</h1>
    <ul id="nav-list">
      <li id="home"><a href="/">HOME</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="music"><a href="/music">Music</a></li>
      <li id="pics"><a href="/pictures">Pictures</a></li>
      <li id="gigs"><a href="/gigs">Gigs</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
<!-- END OF NAVIGATION -->
