<!-- START OF NAVIGATION -->
<div class="nav-wrapper">
    <button class="hamburger hamburger--slider" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <h1 id="nav-title">MENU</h1>
    <ul id="nav-list">
      <li id="home"><a href="/">HOME</a></li>
      <li id="about"><a href="{{ site.url }}/about">About</a></li>
      <li id="music"><a href="{{ site.url }}/music">Music</a></li>
      <li id="pics"><a href="{{ site.url }}/pictures">Pictures</a></li>
      <li id="pics"><a href="{{ site.url }}/videos">Videos</a></li>
      <li id="gigs"><a href="{{ site.url }}/gigs">Gigs</a></li>
      <li id="contact"><a href="{{ site.url }}/contact">Contact</a></li>
    </ul>
</div>
<!-- END OF NAVIGATION -->
