

.contact-page {
  .contact-container {
    margin: 100px auto 0;
    width: 600px;
    font-family: $base-font;
    text-align: center;
  
    .title {
      font-family: $base-font;
      font-size: 3em;
      color: #fff;
      line-height: 1;
      padding-bottom: 40px;
    }
  
    .description {
      font-family: $body-font;
      line-height: 1.5em;
      font-weight: 300;
      color: #bdbdbd;
      padding-bottom: 40px;
      font-size: 18px;
    }
  
    #name,
    #email,
    #textarea,
    #send {
      width: 100%;
      margin-top: 20px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      padding: 5px 10px 10px;
      color: #fff;
    }

    #send {
      background-color: #000;

    }
  }
  
  @media screen and (max-width: 1200px) {
    #contact-container {
      margin: -53px auto 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    #contact-container {
      margin: 0 auto;
      width: 90%;
  
      h1 {
        margin: 0 0 20px;
      }
  
      p {
        width: 90%;
      }
  
      form {
        width: 92%;
        margin: 0 auto;
        float: left;
      }
    }
  }
  
}

