---
title: Upcoming Gigs
permalink: gigs
layout: default
description: blah blah
published: false
---

<!-- START Of UPCOMING GIGS PAGE -->
<div class="gigs-page">
    <div class="gigs-wrapper section" >
        <h1>{{ page.title }}</h1>
        {% if page.description %}
            <p>{{ page.description }}</p>
        {% endif %}
        <div class="gigs-container">

            {% for item in site.gigs %}
            <div class="gig">
                <h3 class="title">
                    <a href="{{ item.gig_url }}" target="blank">{{ item.title }}</a>
                </h3>
                <div class="gig-contents">
                    <div class="gig-contents-flag">
                        <p class="flag-date-month">{{ item.gig_date | date: "%B" }}</p> 
                        <p class="flag-date-day">{{ item.gig_date | date: "%-d" }}</p> 
                    </div>
                    <div class="gig-contents-info">
                        <p class="date"><span>When:</span> {{ item.gig_date | date: "%-d %B %Y" }} at {{ item.gig_date | date: "%-r" }}</p>
                        <p class="address"><span>Where:</span> {{ item.address }}</p>
                        {% if item.description %}
                        <p class="description"><span>What:</span> {{ item.description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
            
            {% unless site.gigs.first.collection %}
                <p>No upcoming gigs at this time. Please check back later!</p>
            {% endunless %}


        </div>
    </div>
</div>
<!-- END Of UPCOMING GIGS PAGE -->