--- 
title: Gigs 
permalink: gigs 
layout: default 
title: Upcoming Gigs 
description: 
---

<!-- START Of UPCOMING GIGS PAGE -->
<div id="gigs-page">
    <div id="gigs-wrapper" class="section">
        <h1>{{ page.title }}</h1>
        {% if page.description %}
            <h1>{{ page.description }}</h1>
        {% endif %}
        <div id="gigs-border">
            <img class="player-border-top" src="{{ site.url }}/img/THD-music-player-border.png" alt="">
            <div class="border-box">

                {% for item in site.gigs %}
                    <h3 class="item-2">
                        <a href="{{ item.gig_url }}" target="blank">{{ item.title }}</a>
                    </h3>
                    <p>{{ item.gig_date | date: "%-d %B %Y" }} at {{ item.gig_date | date: "%-r" }}</p>
                    <p>{{ item.address }}</p>
                    {% if item.description %}
                      <p>{{ item.description }}</p>
                    {% endif %}
                {% endfor %}

            </div>
            <img class="player-border-top" src="{{ site.url }}/img/THD-music-player-border-bottom.png" alt="">
        </div>
    </div>
</div>
<!-- END Of UPCOMING GIGS PAGE -->