---
title: Pictures 
permalink: pictures 
layout: default 
title: Take a look at these handsome devils
description: Rev. Jon Goold was struck down by blinding light one night after an evening of drunkenness and debauchery. He then heard a benevolent voice tell him that he was to start the greatest old-timey country western band that no one has ever heard of, and that he should recruit his foolish wife and brothers to join him in this fruitless endeavor. Thus the Handsome Devils were born.
---

<div class="pictures-page">
    <div class="pictures-wrapper" class="section">
        <h1 class="pictures-title">{{ page.title }}</h1>
        {% if page.description %}
            <p class="pictures-description">{{ page.description }}</p>
        {% endif %}
        <div id="pic-wrap">
            
            <!-- {% for item in site.gallery %}
                <a class="grouped_elements pic-10" rel="group1" href="{{ item.picture }}">
                    <img src="{{ item.picture }}" alt="Picture of the Handsome Devils" />
                </a>
            {% endfor %} -->

            <a class="grouped_elements pic-1" rel="group1" href="{{ site.url }}/img/THD-1.JPG">
                <img src="{{ site.url }}/img/THD-1-small.jpg" alt="" />
            </a>
            <a class="grouped_elements pic-2" rel="group1" href="{{ site.url }}/img/THD-2.JPG">
                <img src="{{ site.url }}/img//THD-2-small.jpg" alt="" />
            </a>
            <a class="grouped_elements pic-4" rel="group1" href="{{ site.url }}/img/THD-4.JPG">
                <img src="{{ site.url }}/img/THD-4-small.jpg" alt="" />
            </a>
            <a class="grouped_elements pic-17" rel="group1" href="{{ site.url }}/img/FamJam 8.jpg">
                <img src="{{ site.url }}/img/FamJam-8-small.jpg" alt="" />
            </a>
            
        </div>
    </div>
</div>
<!-- END OF PICTURES PAGE -->