---
title: Check out our videos
permalink: videos
layout: default
description: ''
video_url: ''
---

<div class="videos-page">
    <div class="videos-wrapper" class="section">
        <h1 class="videos-title">{{ page.title }}</h1>
        {% if page.description != '' %}
            <p class="videos-description">{{ page.description }}</p>
        {% endif %}
        <div class="videos-wrap">
            {% for item in site.videos %}
                <div class="video">{{ item.video_url }}</div>
            {% endfor %}
        </div>
    </div>
</div>