
// Our variables

$base-font: 'lullabyregular', Arial, sans-serif;
$second-font: 'Slabo 27px', serif;

$mobile: new-breakpoint(max-width 500px 4);
$tablet: new-breakpoint(max-width 800px 4);
$mobile-small: new-breakpoint(max-width 350px 4);
